/* COMMON STYLES */

body {
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 12px;
	position: relative;
	border: 1px solid transparent; /* fixes margin-collapse on #jc-console */
	min-width: 250px;
	max-width: 1000px;
	margin: 0 auto;
}
button {
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 12px;
}
fieldset {
	padding: 10px;
	margin: 10px;
}
fieldset legend {
	font-weight: bold;
}
input {
	padding: 0;
	margin: 0;
}
h1 {
	position: absolute;
	top: 0;
	left: 10px;
	right: 0;
	font-size: 20px;
	margin-top: 12px;
	text-align: center;
}
h2 {
	display: none;
}

/* CONSOLE */

#jc-console {
	height: 250px;
	padding-right: 0;
	margin-top: 50px;
}
#jc-console ol {
	padding: 0;
	margin: 0;
	height: 235px;
	overflow: auto;
}
#jc-console li {
	font-family: "Courier New", monospace;
	font-size: 12px;
	list-style: none;
	color: gray;
	padding: 0;
	margin: 0 10px 0 0;
}
#jc-console li.jc-neutral .jc-message {
	color: black;
}
#jc-console li.jc-error .jc-message {
	color: rgb(150,0,0);
}
#jc-console li.jc-success .jc-message {
	color: rgb(0,100,0);
}

/* ACTIONS */

#jc-actions button {
	display: block;
	width: 100%;
	height: 30px;
	margin: 0 0 5px 0;
	font-weight: bold;
	text-align: left;
}
#jc-actions button span {
	color: gray;
	font-weight: normal;
	margin-left: 5px;
}

/* SETTINGS */

#jc-settings label {
	float: left;
	width: 65%;
	clear: both;
}
#jc-settings output {
	float: right;
	width: 35%;
	text-align: right;
	font-weight: bold;
}
#jc-settings input {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}

/* FOR UA'S W/O RANGE-INPUT */

body.jc-noRangeInput #jc-settings output {
	display: none;
}
body.jc-noRangeInput #jc-settings input {
	float: right;
	width: 30%;
	text-align: right;
	font-weight: bold;
	clear: right;
	margin: 0 0 5px 0;
	padding: 3px;
}
body.jc-noRangeInput #jc-settings label {
	padding: 3px 0 0 0;
}

/* FOR WIDE VIEWPORTS */

@media screen and (min-width: 750px) {

	fieldset, #jc-console {
		margin: 0;
	}
	h1 {
		text-align: left;
	}
	h2 {
		display: block;
		position: absolute;
		top: 0;
		right: 10px;
		font-size: 15px;
		margin-top: 16px;
	}
	h2 a {
		color: gray;
		text-decoration: none;
	}
	#jc-console {
		position: absolute;
		top: 50px;
		left: 10px;
		right: 244px;
		height: 440px;
	}
	#jc-console ol {
		height: 425px;
	}
	#jc-actions {
		position: absolute;
		top: 50px;
		right: 10px;
		width: 200px;
		height: 210px;
	}
	#jc-settings {
		position: absolute;
		top: 290px;
		right: 10px;
		height: 200px;
		width: 200px;
	}
	#jc-actions button {
		height: 45px;
	}
	#jc-actions button span {
		display: block;
		margin: 0;
	}

}

/* FOR VERY NARROW VIEWPORTS */

@media screen and (max-width: 375px) {

	#jc-actions button {
		text-align: center;
	}
	#jc-actions button span {
		display: none;
	}
	#jc-console li .jc-timestamp {
		display: none;
	}
	#jc-console li {
		list-style-type: disc;
		margin-left: 18px;
	}

}